.prime__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}

.cars__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 500px;
  border: 1px solid gray;
  margin-bottom: 30px;
}

.image__wrapper {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
  margin-bottom: 10px;
}

.content__title, .content__price {
  margin-bottom: 10px;
}